@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  @apply bg-black text-gray-300 antialiased;
}

::selection {
  @apply bg-brand-blue text-brand-cream;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-brand-blue to-brand-cream;
  }

  .text-gradient-hover {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-white to-white hover:from-brand-blue hover:to-brand-cream;
  }
}
